__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
.git
.gitignore
.dockerignore
Dockerfile
*.exe
LICENSE
*.yml
frontend
nginx
logs
*.md
.env
proxy_list.json
src/database